@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem !important;
        padding-left: 1.25rem !important;
    }
    .team-padding {
        padding: 0 5rem;
    }
    .contact-form {
        padding: 9rem 8rem 0 6rem;
    }
    .img-our {
        height: 0px;
        object-fit: cover;
    }
}
@media (max-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem !important;
        padding-left: 1.25rem !important;
    }
    .banner-content {
        padding: 0;
        top:0;
    }
    .banner-menu {
        margin-left: 1rem!important;
        margin-top: 1rem!important;
        color: #000;
        font-weight: 500;
        font-size: 14px;
    }
    .banner-a{
        margin-top: 1.2rem!important;
    }
}